#image {
  object-fit: cover;
  width: 100%;
}

#ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 3em;
}

.li {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 20px;
  border-radius: 15px;
  width: 200px;
  object-fit: cover;
  background-color: aliceblue;
}